.container-fluid{
  padding: 0;
}
table{
  width: 100%;
  border-collapse: collapse;
}
td {
  text-align: left;
  padding: 8px;
}

a {
  color: black;
}
a :hover {
  text-decoration: underline;
  cursor: pointer;
  color: black;
}
